h1 {
    padding-bottom: 50px;
    padding-top: 80px;
    text-align: center;
}

.time-warning {
    text-align: center;
    padding: 20px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 600px;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit-button {
    text-align: center;
    padding: 20px;
}